<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820848358309-g71aqmb7r6vv7q7gi5ktobfisp6efeem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820848358309-g71aqmb7r6vv7q7gi5ktobfisp6efeem</string>
	<key>API_KEY</key>
	<string>AIzaSyBn0hrP06jP1Og3kefZPrg47n41JYLPTww</string>
	<key>GCM_SENDER_ID</key>
	<string>820848358309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.alissonlima.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>flutterloja-ea54e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloja-ea54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820848358309:ios:216d8d33bd507cb2</string>
	<key>DATABASE_URL</key>
	<string>https://flutterloja-ea54e.firebaseio.com</string>
</dict>
</plist>